* {
padding: 0;
margin: 0;
}

header {
background-color: rgb(15, 15, 15);
text-align: center;
padding: 20px;
color: white;
}

.universos {
background-color: rgb(205, 0, 0);
padding: 20px;
}

.universos li {
text-decoration: none;
list-style: none;
justify-content: space-evenly;
flex-wrap: wrap;
display: flex;
}

.universos li a {
text-decoration: none;
color: black;
}

.meio1 {
    background-image: url(Imagens/bg\ inicial.png);
    background-size: cover;
    background-color: rgba(165, 42, 42, 0.646);
    padding: 40px;
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
}

.meio1 div {
width: 60vw;
height: 4vh;
background-color: gray;
text-align: center;
}